@using DoctorAppointmentBookingSys.Models.Classes
@model List<AppointmentsUI>
@{
    ViewBag.Title = "AppointmentIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="w3-table-all " style="margin-top:18px">
    <tr>
        <th> Doctor Name </th>
        <th> Start Date </th>
        <th> End Date </th>
        <th> Complaint </th>
        <th> Availability </th>
        <th> User Name </th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>
                @k.DoctorName
            </td>
            <td>
                @k.StartDate
            </td>
            <td>
                @k.EndDate
            </td>
            <td>
                @k.Complaint
            </td>
            <td>
                @k.Availability
            </td>
            <td>
                @k.UserName
            </td>
            <td><a href="/Appointment/CancelApt/?AptID=@k.AptID&Number=5" class="btn btn-danger">Cancel</a></td>
        </tr>
    }
</table>

<a href="/Appointment/BookApt" class=" btn btn-primary"> Book Apointment</a>

