@model DoctorAppointmentBookingSys.Models.Classes.Appointment
@{
    ViewBag.Title = "BookApt";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2> Appointment Page </h2>
<br />
<div style="padding:15px 15px 18px 15px">
    <form class="form-group" method="post">
        
        @Html.DropDownListFor(x => x.DoctorID, (IEnumerable <SelectListItem> )ViewData["Doctors"])
        @*@Html.LabelFor(x => x.DoctorID)
        @Html.TextBoxFor(x => x.DoctorID, new { @class = "form-control" })*@
        <br />
        @Html.LabelFor(x => x.StartDate)
        @Html.TextBoxFor(x => x.StartDate, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.EndDate)
        @Html.EditorFor(x => x.EndDate, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Complaint)
        @Html.TextBoxFor(x => x.Complaint, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.UserID)
        @Html.TextBoxFor(x => x.UserID, new { @class = "form-control" })

        <button class="btn btn-info">Save</button>
    </form>
</div>
